[submodule "xmonad/xmonad"]
	path = xmonad/xmonad
	url = https://github.com/exvacuum/xmonad
[submodule "xmonad/xmonad-contrib"]
	path = xmonad/xmonad-contrib
	url = https://github.com/exvacuum/xmonad-contrib
