/*
# Documentation
!/README.md
!/LICENSE
!/doc/
!/doc/**/
# Dotfiles
!/autorandr/
!/autorandr/**/
!/awesome/
!/awesome/**/
!/kitty/
!/kitty/**/
!/mpd/
!/mpd/**/
!/ncmpcpp/
!/ncmpcpp/**/
!/nvim/
!/nvim/**/
!/zsh/
!/zsh/**/
!/.zshenv
!/xmonad/**/
!/xmonad-contrib/**/

/zsh/antigen/**/
